.DS_Store
.*~
*.pyo
*.pyc
task/*.data
config/ranger/commands.py
config/ranger/commands_full.py
config/ranger/history
config/ranger/bookmarks
config/vifm/vifminfo
pandoc/library.bib
mutt/cache/*
ipython/profile_default/startup/README
ipython/*.pyc
ipython/profile_default/history.sqlite
ipython/profile_default/db/*
tags
matplotlib/*.cache
todo.actions.d/graph/*
matplotlib/fontList.json
